@import '../../../../variablesNew';
@import "../../../../variables";
@import '../../../../mixins';

@mixin buttonTheme(
	$buttonColor,
	$hoverColor,
	$focusColor,
	$textColor: $BackgroundLighest,
	$disabledColor: $HighContrastLightest
) {
	background-color: $buttonColor;
	color: $textColor !important;

	&:hover {
		background-color: $hoverColor;
	}

	&:focus {
		background-color: $focusColor;
	}
}

.button {
	padding: 0 1rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.33rem;
	border: none;
	font-weight: 600;

	&:focus {
		outline: none;
	}

	&:disabled {
		cursor: not-allowed;
		border: none;
		color: $BackgroundLighest;
		background-color: $HighContrastLightest !important;
	}
}

.buttonSmall {
	height: 2rem;
	min-width: 5rem;
	line-height: 1rem;
	@include font("Open sans", 12px,);
}

.buttonLarge {
	height: 3rem;
	min-width: 5rem;
	line-height: 1.25rem;
	@include font("Open sans", 14px);
}

.buttonPrimary {
	@include buttonTheme($AccentPrimary100, $AccentPrimaryLighter, $AccentPrimaryDarker);
}

.buttonSecondary {
	border: 0.063rem solid $AccentPrimary100;
	@include buttonTheme($BackgroundLighest, $AccentSecondary10, $AccentSecondary40, $AccentPrimary100);
}

.buttonTertiary {
	@include buttonTheme($BackgroundLighest, $AccentSecondary10, $AccentSecondary40, $AccentPrimary100);
}

.buttonDanger {
	@include buttonTheme($AlertError100, $AlertErrorLighter, $AlertErrorDarker);
}

.iconLeft {
	flex-direction: row;
}

.iconLeft img {
	margin-left: 0.5rem;
}

.iconRight {
	flex-direction: row-reverse;
}

.iconRight img{
	margin-right: 0.5rem;
}
